body{
  background-image: url(../public/images/tranquil-summer-pond-reflects-lush-green-landscape-beauty-generative-ai.jpg);
  background-repeat:no-repeat ;
  background-position:center ;
  background-attachment:fixed;
  background-size: cover;
}
